body {
	background-color: lightblue;
	font-family:Helvetica;
}
footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:2em;
	background-color:gray;
}
footer a {
	font-size:20px;
}




.header {
	font-style: bold;
	text-decoration: underline;
}





#title-header {
	font-size: 50px;
	text-align: center;

}
#test {
	background-color: blue;
}