/*general styles*/
body {
	font-family:Arial;
	background-color:#ccf0ff;
}
.title {
	font-weight:bold;
	text-decoration:underline;
	text-align:center;
	font-size:40px;
}
#pagetitle {
	font-size:45px;
}
.container {
	display:flex;
}
.game {
	text-align:center;
}
.game, .shop{
	border:3px solid black;
	height:650px;
	font-weight:bold;
	flex:1;
	margin:5px;
}
.variable {
	color:red;
}
ul li {
	font-size:30px;
}


/*buttons*/
.game button {
	padding:5px;
	font-size:40px;
	background-color:#1a88ff;
	color:white;
	border:3px solid #0063cc;
	border-radius:20px;
}
.game button:hover {
	background-color:#66b0ff;
}
.game button:active {
	background-color:#0063cc;
}

.shop button {
	padding:5px;
	font-size:30px;
	background-color:#1a88ff;
	color:white;
	border:3px solid #0063cc;
	border-radius:20px;
	margin-left:20px;	
}
.shop button:hover {
	background-color:#66b0ff;
}
.shop button:active {
	background-color:#0063cc;
}